.table {
  width: 1128px;
  // button {
  //   margin: 56px 0px 24px auto !important;
  //   padding: 17px 24px !important;
  //   width: 218px;
  //   i {
  //     background-color: transparent;
  //   }
  // }
  &__header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 1.6rem 2.4rem;
    background: #1d1a27;
    border-radius: 12px 12px 0px 0px;
    color: $color-white;
    &__title {
      font-size: 1.2rem;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
    &__search {
      position: relative;
      input {
        padding: 1.4rem 0rem 1.4rem 5rem;
        background: #302c3f;
        border: none;
        border-radius: 8px;
        max-width: 33.4rem;
        font-weight: 400;
        font-size: 1.4rem;
        outline: none;
        transition: all 0.3s ease-in-out;
        // &:focus {
        //   border-color: #a8a8a8;
        //   box-shadow: 0 0 8px 0 #a8a8a8;
        // }
        &:focus ~ i.fa-search {
          filter: drop-shadow(5px 5px 10px #fff);
        }
      }
      i {
        position: absolute;
        left: 18px;
        top: 10px;
        color: rgba(183, 180, 199, 1);
      }
    }
  }
}
table[mat-table] {
  background: #1d1a27;
  height: auto;
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
mat-paginator {
  background: #1d1a27;
  color: #fff;
  border-radius: 0px 0px 8px 8px;
  position: relative;
  mat-form-field {
    color: rgb(209, 23, 23);
  }
}
.mat-select-arrow,
.mat-select-value,
.mat-option-text {
  color: #fff !important;
}
.mat-select-panel {
  background: #1d1a27;
}

th[mat-header-cell] {
  color: #b7b4c7;
}
td[mat-cell] {
  color: #fff;
}

/////////////////////////////////////////////
