<header>
  <h3>{{ currentRoute }}</h3>
  <div id="user">
    <i class="far fa-user-circle"></i>
    <span>Ahmed Khalil</span>
  </div>
  <!-- <a
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </a>
  <mat-menu #menu="matMenu">
    <a mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </a>
    <a mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </a>
    <a mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </a>
  </mat-menu> -->
</header>
