<header class="dashboard-secondry-header">
  <i class="fas fa-angle-left" [routerLink]="['../hashrate-plans']"></i>
  <h2>Choose hashrate plan</h2>
</header>
<div class="dashboard-container">
  <section>
    <h3>Select desired plan</h3>
    <p>Contract period</p>
    <div>
      <button (click)="short = true" [ngClass]="{ active: short }">
        <span> Short Plans</span> <span class="off">10% off</span>
      </button>
      <button (click)="short = false" [ngClass]="{ active: !short }">
        <span>Long Plans</span> <span class="off">30% off</span>
      </button>
    </div>
  </section>
  <section>
    <h4>Choose Currency</h4>
    <app-tabs id="shortPlans" *ngIf="short">
      <div class="plans" BTC>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" ETH>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" RVN>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" STX>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
    </app-tabs>
    <app-tabs id="longPlans" *ngIf="!short">
      <div class="plans" BTC>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" ETH>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" RVN>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" STX>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>BTC (Bitcoin)</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>23 580 GH/S</p>
          </div>
          <div>
            <h6>Price Per 1 GH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>From 143%</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
    </app-tabs>
  </section>
</div>
