<div class="dashboard-container dashboard-container--admin">
  <div class="row">
    <div class="col-8">
      <h2 class="dash-heading__title">Hashrate plans (6)</h2>
    </div>
    <div class="col-4">
      <button
        class="btn btn--animated btn--light d-block ml-auto"
        style="margin: 0 0 2.4rem auto; padding: 1.8rem 2.4rem"
        (click)="newFormOpend = true"
      >
        <i class="fas fa-plus mr-4"></i>
        <span style="font-weight: 700; font-size: 1.6rem"> New Plan</span>
      </button>
    </div>
  </div>
  <div class="dropdown-taps row g-0">
    <div class="dropdown-taps__trigger">
      <span class="dropdown-taps__trigger__title"> Currency:</span>
      <button
        class="btn dropdown-taps__trigger__btn"
        (click)="dropCollapsed = !dropCollapsed"
      >
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'all'"
        >
          <a>All Currency</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap1'"
        >
          <i class="fab fa-btc sm"></i> <a>BTC</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap2'"
        >
          <i class="fab fa-ethereum sm"></i> <a>ETH</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap3'"
        >
          <i class="fab fa-btc sm"></i> <a>RVN</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap4'"
        >
          <i class="fab fa-ethereum sm"></i> <a>STX</a>
        </div>
        <i class="fas fa-angle-down arrow" *ngIf="!dropCollapsed"></i>
        <i class="fas fa-angle-up arrow" *ngIf="dropCollapsed"></i>
      </button>
    </div>
    <ul class="dropdown-taps__body" *ngIf="dropCollapsed">
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'all'; dropCollapsed = !dropCollapsed"
      >
        <a>All Currency</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap1'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-btc sm"></i> <a>BTC</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap2'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-ethereum sm"></i> <a>ETH</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap3'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-btc sm"></i> <a>RVN</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap4'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-ethereum sm"></i> <a>STX</a>
      </li>
    </ul>
  </div>

  <div class="row row g-4 mt-4">
    <div class="col-12 col-md-6 col-xl-4" *ngFor="let miner of miners">
      <div class="miner align-self-center">
        <div class="row align-self-start w-100 justify-content-between">
          <div class="col-10">
            <h3 class="miner__title">{{ miner.name }}</h3>
            <span class="miner__sub">Added on: {{ miner.date }}</span>
          </div>
          <div class="miner__menu col-1">
            <div class="miner__menu__btn" (click)="checkSelected(miner.name)">
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="miner__menu__body" *ngIf="selectedMiner == miner.name">
              <div
                class="miner__menu__body__item"
                (click)="editFormOpend = true; checkSelected(miner.name)"
              >
                Edit
              </div>
              <div class="miner__menu__body__item">Delete</div>
            </div>
          </div>
        </div>
        <img
          src="../../../../assets/chooseminer.svg"
          alt="minerimg"
          class="miner__img"
        />
        <div class="miner__box">
          <h6 class="miner__box__title">Mining Currency</h6>
          <p class="miner__box__sub">{{ miner.crypto }}</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Power</h6>
          <p class="miner__box__sub">{{ miner.power }} GH/S</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Price Per 1 GH/S</h6>
          <p class="miner__box__sub">${{ miner.pricePer }}</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Profitability</h6>
          <p class="miner__box__sub">From {{ miner.profitability }}%</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Price</h6>
          <p class="miner__box__sub--large">${{ miner.price }}/mth</p>
          <div class="miner__box__active row justify-content-between">
            <div class="col-2 d-flex flex-column">
              <span class="miner__box__active__name">Status</span>
              <span class="miner__box__active__value">Active</span>
            </div>
            <section class="toggle-btn col-3">
              <div class="checkbox">
                <input type="checkbox" />
                <label></label>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- the new plan form -->
  <div class="new-plan" *ngIf="newFormOpend == true">
    <div class="plan-form">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">Add new plan</h3>
          <p class="plan-form__sub">Added on: 12 Jan 2022 - 12:00PM</p>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="newFormOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="divider my-5"></div>
      <form (ngSubmit)="onSave()" [formGroup]="newPlanForm">
        <div class="input-field-group">
          <label class="input-field-group__label" for="name">Plan Name</label>
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('name')?.invalid &&
                newPlanForm.get('name')?.dirty
            }"
            #input
          />
          <div class="input-field-group__icon">%</div>
        </div>
        <div class="input-field-group">
          <label class="input-field-group__label" for="currency"
            >Mining Currency</label
          >
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="currency"
            formControlName="currency"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('currency')?.invalid &&
                newPlanForm.get('currency')?.dirty
            }"
            #input
          />
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="input-field-group">
              <label class="input-field-group__label" for="power">Power</label>
              <input
                class="input-field-group__input"
                placeholder=""
                type="text"
                id="power"
                formControlName="power"
                [ngClass]="{
                  'input-field-group__input--invalid':
                    newPlanForm.get('power')?.invalid &&
                    newPlanForm.get('power')?.dirty
                }"
                #input
              />
              <div class="input-field-group__icon">GH/S</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="input-field-group">
              <label class="input-field-group__label" for="profitability"
                >Profitability</label
              >
              <input
                class="input-field-group__input"
                placeholder=""
                type="text"
                id="profitability"
                formControlName="profitability"
                [ngClass]="{
                  'input-field-group__input--invalid':
                    newPlanForm.get('profitability')?.invalid &&
                    newPlanForm.get('profitability')?.dirty
                }"
                #input
              />
              <div class="input-field-group__icon">%</div>
            </div>
          </div>
        </div>
        <div class="input-field-group">
          <label class="input-field-group__label" for="price">Price</label>
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="price"
            formControlName="price"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('price')?.invalid &&
                newPlanForm.get('price')?.dirty
            }"
            #input
          />
          <div class="input-field-group__icon">$</div>
        </div>
        <button
          type="submit"
          class="login-box__btn btn btn--light btn--animated"
          style="margin-top: 12rem"
        >
          Save
        </button>
      </form>
    </div>
  </div>
  <!-- the edit plan form -->
  <div class="new-plan" *ngIf="editFormOpend == true">
    <div class="plan-form">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">Edit ‘{{ selectedMinerEdit }}’ plan</h3>
          <p class="plan-form__sub">Added on: 12 Jan 2022 - 12:00PM</p>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="editFormOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="divider my-5"></div>
      <form (ngSubmit)="onSave()" [formGroup]="newPlanForm">
        <div class="input-field-group">
          <label class="input-field-group__label" for="name">Plan Name</label>
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('name')?.invalid &&
                newPlanForm.get('name')?.dirty
            }"
            #input
          />
          <div class="input-field-group__icon">%</div>
        </div>
        <div class="input-field-group">
          <label class="input-field-group__label" for="currency"
            >Mining Currency</label
          >
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="currency"
            formControlName="currency"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('currency')?.invalid &&
                newPlanForm.get('currency')?.dirty
            }"
            #input
          />
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="input-field-group">
              <label class="input-field-group__label" for="power">Power</label>
              <input
                class="input-field-group__input"
                placeholder=""
                type="text"
                id="power"
                formControlName="power"
                [ngClass]="{
                  'input-field-group__input--invalid':
                    newPlanForm.get('power')?.invalid &&
                    newPlanForm.get('power')?.dirty
                }"
                #input
              />
              <div class="input-field-group__icon">GH/S</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="input-field-group">
              <label class="input-field-group__label" for="profitability"
                >Profitability</label
              >
              <input
                class="input-field-group__input"
                placeholder=""
                type="text"
                id="profitability"
                formControlName="profitability"
                [ngClass]="{
                  'input-field-group__input--invalid':
                    newPlanForm.get('profitability')?.invalid &&
                    newPlanForm.get('profitability')?.dirty
                }"
                #input
              />
              <div class="input-field-group__icon">%</div>
            </div>
          </div>
        </div>
        <div class="input-field-group">
          <label class="input-field-group__label" for="price">Price</label>
          <input
            class="input-field-group__input"
            placeholder=""
            type="text"
            id="price"
            formControlName="price"
            [ngClass]="{
              'input-field-group__input--invalid':
                newPlanForm.get('price')?.invalid &&
                newPlanForm.get('price')?.dirty
            }"
            #input
          />
          <div class="input-field-group__icon">$</div>
        </div>
        <button
          type="submit"
          class="login-box__btn btn btn--light btn--animated"
          style="margin-top: 12rem"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
