<div class="sideContainer">
  <ul>
    <li routerLink="overview" routerLinkActive="highlight">
      <i class="fas fa-home"></i> <a>Overview</a>
    </li>
    <li routerLink="hashrate-plans" routerLinkActive="highlight">
      <i class="fas fa-clipboard-list"></i> <a>Hashrate plans</a>
    </li>
    <li routerLink="mining-devices" routerLinkActive="highlight">
      <i class="fas fa-server"></i> <a>Mining devices</a>
    </li>
    <li routerLink="withdraw" routerLinkActive="highlight">
      <i class="far fa-credit-card"></i> <a>Withdraw</a>
    </li>
    <li routerLink="referral-program" routerLinkActive="highlight">
      <i class="fas fa-users"></i> <a>Referral program</a>
    </li>
  </ul>
</div>
