<header class="dash-heading">
  <h2 class="dash-heading__title">Hashrate plans</h2>
  <p class="dash-heading__para">Manage & subscribe hashrate power plans</p>
</header>
<div class="dashboard-container">
  <div class="row g-4">
    <div class="col-12 col-lg-4">
      <div class="hashrate-active">
        <h3 class="hashrate-active__title">Active Hashrate Power</h3>
        <div class="hashrate-active__item" *ngFor="let power of activeHash">
          <div class="hashrate-active__item__name">
            <div>
              <i class="fab fa-btc md"></i>
            </div>
            <div style="display: flex; flex-direction: column">
              <span>{{ power.crypto }}</span>
              <span>{{ power.plans }}</span>
            </div>
          </div>
          <div class="hashrate-active__item__value">
            <span>{{ power.speed }} GH/S </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="hashrate-chart">
        <div class="custom-taps custom-taps--chart">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-sm-3 mb-md-0"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap1'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
              [responsive]="true"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap2'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap3'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap4'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn--animated btn--light d-block ml-auto"
    [routerLink]="['../choose-plan']"
    style="margin: 5.6rem 0 2.4rem auto; padding: 1.8rem 2.4rem"
  >
    <i class="fas fa-plus mr-3"></i>
    <span style="font-weight: 700; font-size: 1.6rem"> New Hashrate Plan</span>
  </button>
  <div class="table"></div>
  <div class="table">
    <p-table
      [value]="data"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="4"
      stateStorage="local"
      stateKey="statedemo-local"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- <th
            *ngFor="let col of displayedColumns"
            [pSortableColumn]="col.field"
          >
            {{ col.name | titlecase }}
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th> -->
          <th pSortableColumn="date">
            Date
            <p-columnFilter
              type="date"
              field="date"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
            Name
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="total">
            Total
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th pSortableColumn="current">
            Current
            <p-sortIcon field="current"></p-sortIcon>
          </th>
          <th pSortableColumn="average">
            Average
            <p-sortIcon field="average"></p-sortIcon>
          </th>
          <th pSortableColumn="expire">
            Expire
            <p-columnFilter
              type="date"
              field="expire"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon [field]="'expire'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan let-columns="displayedColumns">
        <tr>
          <td>
            <span class="p-column-title">Date</span
            >{{ plan.date | date: "dd MMM yyyy" }}
          </td>
          <td><span class="p-column-title">Name</span>{{ plan.name }}</td>
          <td><span class="p-column-title">Total</span>{{ plan.total }}</td>
          <td><span class="p-column-title">Current</span>{{ plan.current }}</td>
          <td><span class="p-column-title">Average</span>{{ plan.average }}</td>
          <td>
            <span class="p-column-title">Expire</span
            >{{ plan.expire | date: "dd MMM yyyy" }}
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Active Table -->
    <!-- <div class="table__header row gx-0 justify-content-between">
      <h2 class="table__header__title col-12 col-md-4">
        Active Plans ({{ activePlanDataLength }})
      </h2>
      <div class="table__header__search col-12 col-md-4 pr-4">
        <input
          matInput
          (keyup)="applyFilterOnActive($event)"
          placeholder="Search by plan name...
        "
          #input
        />
        <i class="fas fa-search"></i>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSourceActive"
      matSort
      #activeSort="matSort"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.date | date: "dd MMM yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan name</th>
        <td mat-cell *matCellDef="let row" style="display: flex">
          <i
            class="fab fa-ethereum md"
            *ngIf="row.name.includes('Ethereum')"
          ></i>
          <i class="fab fa-btc md" *ngIf="row.name.includes('Bitcoin')"></i>
          <span style="vertical-align: sub">{{ row.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Total Mined
        </th>
        <td mat-cell *matCellDef="let row">{{ row.total }}</td>
      </ng-container>

      <ng-container matColumnDef="current">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Current Hashpower
        </th>
        <td mat-cell *matCellDef="let row">{{ row.current }}</td>
      </ng-container>

      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Avg Daily Income
        </th>
        <td mat-cell *matCellDef="let row">{{ row.average }}</td>
      </ng-container>

      <ng-container matColumnDef="expire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expired on</th>
        <td mat-cell *matCellDef="let row">
          {{ row.expire | date: "dd MMM yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[7]"
      matPaginator
      #activePaginator="matPaginator"
      style="margin-bottom: 18px"
    ></mat-paginator> -->

    <!-- Expired Table -->
    <!-- <div class="table__header row gx-0 justify-content-between">
      <h2 class="table__header__title col-12 col-md-4">
        Expired Plans ({{ expiredPlanDataLength }})
      </h2>
      <div class="table__header__search col-12 col-md-4 pr-4">
        <input
          matInput
          (keyup)="applyFilterOnExpired($event)"
          placeholder="Search by plan name...
      "
          #input
        />
        <i class="fas fa-search"></i>
      </div>
    </div>

    <table
      mat-table
      [dataSource]="dataSourceExpired"
      matSort
      #expiredSort="matSort"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.date | date: "dd MMM yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan name</th>
        <td mat-cell *matCellDef="let row">
          <i
            class="fab fa-ethereum md"
            *ngIf="row.name.includes('Ethereum')"
          ></i>
          <i class="fab fa-btc md" *ngIf="row.name.includes('Bitcoin')"></i>
          <span style="vertical-align: sub">{{ row.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Total Mined
        </th>
        <td mat-cell *matCellDef="let row">{{ row.total }}</td>
      </ng-container>

      <ng-container matColumnDef="current">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Current Hashpower
        </th>
        <td mat-cell *matCellDef="let row">{{ row.current }}</td>
      </ng-container>

      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Avg Daily Income
        </th>
        <td mat-cell *matCellDef="let row">{{ row.average }}</td>
      </ng-container>

      <ng-container matColumnDef="expire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expired on</th>
        <td mat-cell *matCellDef="let row">
          {{ row.expire | date: "dd MMM yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[3, 6, 12]"
      matPaginator
      #expiredPaginator="matPaginator"
    ></mat-paginator> -->
  </div>
</div>
