.wallet {
  &__balance {
    &__title {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3rem;
      margin-bottom: 1.6rem;
    }
    &__box {
      background: rgba(29, 26, 39, 0.6);
      border: 1px solid rgba(13, 23, 66, 0.2);
      border-radius: 8px;
      padding: 1.6rem;
      display: flex;
      &:not(:last-of-type) {
        border-right: 4px soild #fff;
      }
      &__icon {
        margin-right: 1.5rem;
      }
      &__name {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $color-white-2;
      }
      &__value {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }
}
