<div class="dashboard-container dashboard-container--admin">
  <h2 class="dash-heading__title">Buying Requests</h2>
  <div class="horizontal-taps">
    <div class="horizontal-taps__heading">
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap1'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap1'
        }"
        >Hashrate plans</span
      >
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap2'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap2'
        }"
        >Mining devices</span
      >
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap3'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap3'
        }"
        >Transactions logs</span
      >
    </div>
    <div class="horizontal-taps__body" *ngIf="selectedTap == 'tap1'">
      <div class="horizontal-taps__body__title">
        Hashrate Plans ({{ requests.length }})
      </div>
      <div class="table">
        <p-table
          [value]="requests"
          responsiveLayout="stack"
          [paginator]="true"
          [rows]="10"
          [rowsPerPageOptions]="[10, 15, 20]"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="date">
                Request date
                <p-columnFilter
                  type="date"
                  field="date"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                User info
                <p-columnFilter
                  type="text"
                  field="info"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="info"></p-sortIcon>
              </th>
              <th pSortableColumn="miner">
                Requested device
                <p-sortIcon field="miner"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>
                <span class="p-column-title"> Request date </span
                >{{ user.date | date: "dd MMM yyyy" }}
              </td>
              <td>
                <span class="p-column-title"> User info</span>
                <p>{{ user.info.name }}</p>
                <p>{{ user.info.email }}</p>
              </td>
              <td>
                <span class="p-column-title"> Requested device</span>

                <img
                  src="../../../assets/miner.svg"
                  alt=""
                  style="height: 64px"
                />

                {{ user.miner }}
              </td>

              <td class="d-flex gap-3">
                <span class="p-column-title">Action</span>
                <button
                  class="btn btn--red btn--animated"
                  [routerLink]="['../profile']"
                >
                  Reject
                </button>
                <button
                  class="btn btn--darker btn--animated"
                  [routerLink]="['../profile']"
                >
                  Accept request
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="user-info__body" *ngIf="selectedTap == 'tap2'">
      <div class="user-info__body__title">Mining devices ()</div>
    </div>
  </div>
</div>
