<div class="top">
  <h2>Welcome back, Ahmed 👋</h2>
  <p class="text-muted">Here’s your progress</p>
  <h5>Balance Overview</h5>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
      <div class="box">
        <div class="row">
          <div class="col-12 col-lg-3">
            <mat-icon>currency_bitcoin</mat-icon>
          </div>
          <div class="col-lg-9">
            <p class="text-muted" style="font-weight: bold; margin-bottom: 1px">
              BTC Balance
            </p>
            <p style="font-weight: bold">0.000002130 BTC</p>
          </div>
        </div>
        <p>
          <span style="color: #154ed5; font-weight: bold">
            2 active plans
          </span>
          • <span style="color: #154ed5; font-weight: bold"> 1 Device</span>
        </p>
        <p class="text-muted">Current Price</p>
        <p style="font-weight: bold">$ 47,990.00</p>
        <button mat-stroked-button color="primary" style="width: 100%">
          Withdraw
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
      <div class="box">
        <div class="row">
          <div class="col-12 col-lg-3">
            <mat-icon>currency_bitcoin</mat-icon>
          </div>
          <div class="col-lg-9">
            <p class="text-muted" style="font-weight: bold; margin-bottom: 1px">
              ETH Balance
            </p>
            <p style="font-weight: bold">0.000002130 ETH</p>
          </div>
        </div>
        <p>
          <span style="color: #154ed5; font-weight: bold">
            2 active plans
          </span>
        </p>
        <p class="text-muted">Current Price</p>
        <p style="font-weight: bold">$ 47,990.00</p>
        <button mat-stroked-button color="primary" style="width: 100%">
          Withdraw
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
      <div class="box">
        <div class="row">
          <div class="col-12 col-lg-3">
            <mat-icon>currency_bitcoin</mat-icon>
          </div>
          <div class="col-lg-9">
            <p class="text-muted" style="font-weight: bold; margin-bottom: 1px">
              RVN Balance
            </p>
            <p style="font-weight: bold">0.000000000 RVN</p>
          </div>
        </div>
        <p style="visibility: hidden">
          <span style="color: #154ed5; font-weight: bold">
            2 active plans
          </span>
        </p>
        <p class="text-muted">Current Price</p>
        <p style="font-weight: bold">$ 0.08826</p>
        <button mat-raised-button color="primary" style="width: 100%">
          Buy Mining plan
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
      <div class="box">
        <div class="row">
          <div class="col-12 col-lg-3">
            <mat-icon>currency_bitcoin</mat-icon>
          </div>
          <div class="col-lg-9">
            <p class="text-muted" style="font-weight: bold; margin-bottom: 1px">
              STX Balance
            </p>
            <p style="font-weight: bold">0.000000000 STX</p>
          </div>
        </div>
        <p style="visibility: hidden">
          <span style="color: #154ed5; font-weight: bold">
            2 active plans
          </span>
        </p>
        <p class="text-muted">Current Price</p>
        <p style="font-weight: bold">$ 2.13</p>
        <button mat-raised-button color="primary" style="width: 100%">
          Buy Mining plan
        </button>
      </div>
    </div>
  </div>
</div>
