<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3 pb-5">
      <div id="signup-form">
        <mat-card *ngIf="!loading">
          <h2>Create account</h2>
          <p class="text-muted">
            (brand name) will help you to manage your mining resorces without
            any effort
          </p>
          <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
            <mat-form-field class="mb-4">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="name@example.com"
                formControlName="email"
                type="email"
              />
              <mat-error *ngIf="signupForm.get('email')?.invalid"
                >Invalid Email</mat-error
              >
            </mat-form-field>

            <mat-form-field class="mb-4">
              <mat-label>Phone</mat-label>
              <span matPrefix>+20 &nbsp; </span>
              <input
                matInput
                placeholder="01xxxxxxxx"
                formControlName="phone"
                type="tel"
              />
              <mat-error *ngIf="signupForm.get('phone')?.invalid"
                >Invalid phone number</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="use combination of nums and @#$%"
                formControlName="password"
                type="password"
              />
              <mat-error *ngIf="signupForm.get('password')?.invalid"
                >Week password</mat-error
              >
            </mat-form-field>
            <br />
            <p
              routerLink="/"
              class="d-block text-center"
              style="font-size: 14px"
            >
              By continuing to register, you agree to
              <a routerLink="/">Terms & Conditions and Privacy Policy</a>
            </p>
            <button
              mat-raised-button
              type="submit"
              [disabled]="signupForm.invalid"
              class="my-3"
            >
              Sign up
            </button>
            <p routerLink="/" class="d-block text-center">
              Have an account? <a routerLink="/signin">Sign in </a>
            </p>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="col-md-6 pb-5" style="background-color: #eef3fb">
      <app-slider></app-slider>
    </div>
  </div>
</div>
