<div style="background-color: rgba(13, 23, 66, 1); height: 100%">
  <!-- <h2>LOGO</h2> -->

  <ul>
    <li routerLink="overview" routerLinkActive="highlight">
      <mat-icon>home</mat-icon>
      <a>Overview</a>
    </li>
    <li routerLink="hashrate-plans" routerLinkActive="highlight">
      <mat-icon>star_rate</mat-icon>
      <a>Hashrate plans</a>
    </li>
    <li routerLink="mining-devices" routerLinkActive="highlight">
      <mat-icon> devices</mat-icon>
      <a>Mining devices</a>
    </li>
    <li routerLink="withdraw" routerLinkActive="highlight">
      <mat-icon> credit_card</mat-icon>
      <a>Withdraw</a>
    </li>
    <li routerLink="referral-program" routerLinkActive="highlight">
      <mat-icon> people</mat-icon>
      <a>Referral program</a>
    </li>
  </ul>
</div>
