// /* You can add global styles to this file, and also import other style files */
// * {
//   box-sizing: border-box;
//   margin: 0px;
//   padding: 0px;
// }
// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
// a {
//   list-style: none;
// }
// ul,
// li {
//   list-style: none;
// }
// .dashboard-container {
//   width: 1192px;
//   padding: 32px;
//   margin: 0 auto;
// }
// .dashboard-secondry-header {
//   background: rgba(19, 17, 26, 0.5);
//   box-shadow: inset 0px -1px 0px #302c3f;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   box-shadow: -1px 0px 0px 0px rgba(48, 44, 63, 1) inset;
//   min-width: 1192px;
//   height: 203px;
//   padding: 32px 30px 32px 32px;
//   // margin-left: 248px;
//   margin-top: 72px;
//   h2 {
//     margin-bottom: 4px;
//     font-size: 2rem;
//   }
//   p {
//     color: rgba(183, 180, 199, 1);
//   }
// }
// button {
//   display: flex !important;
//   justify-content: center !important;
//   align-items: center !important;
//   font-size: 1rem !important;
//   padding: 5px !important;
//   background-color: transparent !important;
//   color: #fff !important;
//   padding: 6px !important;
//   border-radius: 50em !important;
//   border: 2px solid transparent !important;
//   background: linear-gradient(#292141, #292141) padding-box,
//     linear-gradient(to right, rgba(79, 86, 255, 1), rgba(255, 73, 128, 1))
//       border-box !important;
//   margin: 0px !important;
//   transition: all 0.2s ease-in-out;
//   &.buy {
//     background: linear-gradient(to right, #5056ff, #fe4980) border-box !important;
//   }
//   &:hover,
//   &.buy:hover {
//     // box-shadow: 0 0.5em 0.5em -0.4em #fe4980 !important;
//     // transform: translateY(-0.25em);
//     animation: pulse 0.9s;
//     box-shadow: 0 0 0 2em rgba(#fe4980, 0);
//   }
// }

// @keyframes pulse {
//   0% {
//     box-shadow: 0 0 0 0 #fe4980;
//   }
// }
// button.mat-paginator-navigation-next {
//   padding: 0px !important;
//   margin: 12px !important;
//   margin-left: 373px !important;
// }
// button.mat-paginator-navigation-previous {
//   padding: 0px !important;
//   margin: 10px !important;
//   position: absolute;
//   left: 12px;
// }
// button.mat-button-disabled {
//   background: #4d4d4e !important;
// }
// .mat-select-arrow,
// .mat-select-value,
// .mat-option-text {
//   color: #fff !important;
// }
// .mat-select-panel {
//   background: #1d1a27;
// }

// th[mat-header-cell] {
//   color: #b7b4c7;
// }
// td[mat-cell] {
//   color: #fff;
// }

// //Icons
// .fab.lg {
//   border-radius: 50%;
//   height: 40px;
//   width: 40px;
//   font-size: 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .fab.md {
//   border-radius: 50%;
//   height: 32px;
//   width: 32px;
//   font-size: 24px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-right: 6px;
// }
// .fab.sm {
//   border-radius: 50%;
//   height: 24px;
//   width: 24px;
//   font-size: 17px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-right: 6px;
// }
// .fa-btc {
//   background-color: #f7931a;
//   color: #fff;
//   transform: rotate(15deg);
// }
// .fa-ethereum {
//   background-color: #eef3fb;
//   color: #393939;
// }

// .mat-menu-content .ng-tns-c97-0 {
//   padding: 0px;
//   justify-content: center;
//   li {
//     width: 165px;
//     display: flex;
//     justify-content: space-between;
//   }
// }
// mat-form-field span.mat-form-field-label-wrapper label {
//   color: orange !important;
// }

// mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
//   color: green !important;
// }
// .mat-slide-toggle {
//   margin-left: 10px;
//   padding-top: 15px;
//   border-top: 1px solid rgb(202, 202, 202);
//   color: #fff;
//   width: 160px;
// }
// .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//   background-color: rgba(255, 73, 128, 0.349);
// }

// .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//   background-color: #ff4980;
// }
// .mat-select-panel {
//   height: 500px !important;
// }
// .mat-dialog-container {
//   padding: 0px !important;
//   border-radius: 8px !important;
//   border: none !important;
//   background: none;
// }
// @media only screen and (max-width: 1439px) {
//   .dashboard-container {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 88px !important;
//   }
//   .dashboard-secondry-header {
//     margin-left: 88px;
//   }
// }
// // @media only screen and (max-width: 1700px) and (min-width: 1440px) {
// //   .dashboard-container {
// //     margin-left: auto;
// //     margin-right: auto;
// //     padding-left: 248px;
// //   }
// // }
