<div class="dashboard-container dashboard-container--admin">
  <div class="row">
    <div class="col-8">
      <h2 class="dash-heading__title">Mining Devices ({{ miners.length }})</h2>
    </div>
    <div class="col-4">
      <button
        class="btn btn--animated btn--light d-block ml-auto"
        [routerLink]="['../choose-plan']"
        style="margin: 0 0 2.4rem auto; padding: 1.8rem 2.4rem"
      >
        <i class="fas fa-plus mr-4"></i>
        <span style="font-weight: 700; font-size: 1.6rem"> New Miner</span>
      </button>
    </div>
  </div>
  <div class="dropdown-taps row g-0">
    <div class="dropdown-taps__trigger">
      <span class="dropdown-taps__trigger__title"> Currency:</span>
      <button
        class="btn dropdown-taps__trigger__btn"
        (click)="dropCollapsed = !dropCollapsed"
      >
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'all'"
        >
          <a>All Currency</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap1'"
        >
          <i class="fab fa-btc sm"></i> <a>BTC</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap2'"
        >
          <i class="fab fa-ethereum sm"></i> <a>ETH</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap3'"
        >
          <i class="fab fa-btc sm"></i> <a>RVN</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap4'"
        >
          <i class="fab fa-ethereum sm"></i> <a>STX</a>
        </div>
        <i class="fas fa-angle-down arrow" *ngIf="!dropCollapsed"></i>
        <i class="fas fa-angle-up arrow" *ngIf="dropCollapsed"></i>
      </button>
    </div>
    <ul class="dropdown-taps__body" *ngIf="dropCollapsed">
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'all'; dropCollapsed = !dropCollapsed"
      >
        <a>All Currency</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap1'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-btc sm"></i> <a>BTC</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap2'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-ethereum sm"></i> <a>ETH</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap3'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-btc sm"></i> <a>RVN</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap4'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-ethereum sm"></i> <a>STX</a>
      </li>
    </ul>
  </div>

  <div class="row row g-4 mt-4">
    <div class="col-12 col-md-6 col-xl-4" *ngFor="let miner of miners">
      <div class="miner align-self-center">
        <div class="row align-self-start w-100 justify-content-between">
          <div class="col-10">
            <h3 class="miner__title">{{ miner.name }}</h3>
            <span class="miner__sub">Added on: {{ miner.date }}</span>
          </div>
          <div class="miner__menu col-2">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <img
          src="../../../../assets/chooseminer.svg"
          alt="minerimg"
          class="miner__img"
        />
        <div class="miner__box">
          <h6 class="miner__box__title">Mining Currency</h6>
          <p class="miner__box__sub">{{ miner.crypto }}</p>
          <p class="miner__box__sub miner__box__sub--2">
            {{ miner.crypto2 }}
          </p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Algorithm</h6>
          <p class="miner__box__sub">{{ miner.algorithm }}</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Power</h6>
          <p class="miner__box__sub">{{ miner.power }} GH/S</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Profitability</h6>
          <p class="miner__box__sub">From {{ miner.profitability }}%</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Unit price</h6>
          <p class="miner__box__sub">{{ miner.unitPrice }}$</p>
        </div>
        <div class="miner__box">
          <h6 class="miner__box__title">Maintaince price</h6>
          <p class="miner__box__sub--large">${{ miner.price }}/mth</p>
          <div class="miner__box__active row justify-content-between">
            <div class="col-2 d-flex flex-column">
              <span class="miner__box__active__name">Status</span>
              <span class="miner__box__active__value" *ngIf="saveStatus"
                >Active</span
              >
              <span class="miner__box__active__value" *ngIf="!saveStatus"
                >Inactive</span
              >
            </div>
            <section class="toggle-btn col-3">
              <div class="checkbox">
                <input
                  type="checkbox"
                  #saveActiveStatus
                  id="saveActiveStatus"
                  [checked]="saveStatus"
                  (change)="onSaveStatusChanged(saveActiveStatus.checked)"
                />
                <label></label>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
