<div class="home">
  <div class="home__navbar">
    <div class="side-nav">
      <ul class="side-nav__content">
        <li
          routerLink="user/dashboard/overview"
          class="side-nav__content__item"
        >
          <a>User Dashboard</a>
        </li>
        <li
          routerLink="admin/dashboard/overview"
          class="side-nav__content__item"
        >
          <a>Admin Dashboard</a>
        </li>
        <li routerLink="user/signin" class="side-nav__content__item">
          <a>User sign in</a>
        </li>
      </ul>
    </div>
  </div>
</div>
