<div class="home">
  <div class="home__navbar">
    <ul class="row g-5 justify-content-between">
      <div class="col-12 col-lg-4">
        <li
          routerLink="admin/dashboard/overview"
          class="btn btn--light btn--animated"
        >
          <a>Admin Dashboard</a>
        </li>
      </div>
      <div class="col-12 col-lg-4">
        <li
          routerLink="user/dashboard/overview"
          class="btn btn--light btn--animated"
        >
          <a>User Dashboard</a>
        </li>
      </div>
      <div class="col-12 col-lg-4">
        <li routerLink="user/signin" class="btn btn--light btn--animated">
          <a>User sign in</a>
        </li>
      </div>
    </ul>
  </div>
</div>
