<div class="dashboard-container">
  <header>
    <h2>Welcome back, Ahmed 👋</h2>
    <p>Here’s your progress</p>
  </header>
  <section id="balance-overview">
    <h4>Balance Overview</h4>
    <div class="box-container">
      <app-balance-box
        *ngFor="let balance of balances"
        [currency]="balance.currency"
        [currencyBalance]="balance.currencyBalance"
        [plans]="balance.plans"
        [devices]="balance.devices"
        [price]="balance.price"
      ></app-balance-box>
    </div>
  </section>
  <section id="details">
    <div class="mining-details">
      <div class="mined-details">
        <!-- <h4>Currency Mining Details</h4> -->
        <!-- <ul>
          <li (click)="changeTab('BTC')"><i class="fab fa-btc sm"></i>BTC</li>
          <li (click)="changeTab('ETH')"><i class="fab fa-ethereum sm"></i>ETH</li>
          <li (click)="changeTab('RVN')"><i class="fab fa-btc sm"></i>RVN</li>
          <li (click)="changeTab('STX')"><i class="fab fa-ethereum sm"></i>STX</li>
        </ul> -->
        <app-tabs leftTitle="Currency Mining Details">
          <div BTC>
            <div class="btc-details">
              <div class="btc-item-1">
                <i class="fas fa-rocket"></i>
                <span style="color: rgba(183, 180, 199, 1)">Mining speed </span>
                <div>
                  <h4>{{ BTC.miningSpeed }} H/s</h4>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="btc-item-2">
                <i class="fas fa-hammer"></i>
                <span class="text-muted">Today Mined </span>
                <h4>{{ BTC.mined }} BTC</h4>
              </div>
              <div class="btc-item-3">
                <i class="fas fa-poo-storm"></i>
                <span class="text-muted">Running plans </span>
                <h4>{{ BTC.plans }} active plans</h4>
              </div>
            </div>
            <div class="center">
              <i class="fab fa-btc lg"></i>
              <h2>{{ BTC.currencyBalance }} BTC</h2>
            </div>
            <strong class="d-block text-muted text-center"
              >Min Withdraw: {{ BTC.minWithdraw }} BTC</strong
            >
            <button mat-stroked-button color="primary">
              <i class="fab fa-btc sm"></i> <span> Withdraw BTC </span>
            </button>
          </div>
          <div ETH>
            <div class="btc-details">
              <div class="btc-item-1">
                <i class="fas fa-rocket"></i>
                <span style="color: rgba(183, 180, 199, 1)">Mining speed </span>
                <div>
                  <h4>{{ ETH.miningSpeed }} H/s</h4>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="btc-item-2">
                <i class="fas fa-hammer"></i>
                <span class="text-muted">Today Mined </span>
                <h4>{{ ETH.mined }} ETH</h4>
              </div>
              <div class="btc-item-3">
                <i class="fas fa-poo-storm"></i>
                <span class="text-muted">Running plans </span>
                <h4>{{ ETH.plans }} active plans</h4>
              </div>
            </div>
            <div class="center">
              <i class="fab fa-ethereum lg"></i>
              <h2>{{ ETH.currencyBalance }} ETH</h2>
            </div>
            <strong class="d-block text-muted text-center"
              >Min Withdraw: {{ ETH.minWithdraw }} ETH</strong
            >
            <button mat-stroked-button color="primary">
              <i class="fab fa-ethereum sm"></i> <span> Withdraw ETH </span>
            </button>
          </div>
          <div RVN>
            <div class="btc-details">
              <div class="btc-item-1">
                <i class="fas fa-rocket"></i>
                <span style="color: rgba(183, 180, 199, 1)">Mining speed </span>
                <div>
                  <h4>{{ RVN.miningSpeed }} H/s</h4>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="btc-item-2">
                <i class="fas fa-hammer"></i>
                <span class="text-muted">Today Mined </span>
                <h4>{{ RVN.mined }} RVN</h4>
              </div>
              <div class="btc-item-3">
                <i class="fas fa-poo-storm"></i>
                <span class="text-muted">Running plans </span>
                <h4>{{ RVN.plans }} active plans</h4>
              </div>
            </div>
            <div class="center">
              <i class="fab fa-btc lg"></i>
              <h2>{{ RVN.currencyBalance }} RVN</h2>
            </div>
            <strong class="d-block text-muted text-center"
              >Min Withdraw: {{ RVN.minWithdraw }} BTC</strong
            >
            <button mat-stroked-button color="primary">
              <i class="fab fa-btc sm"></i> <span> Withdraw RVN </span>
            </button>
          </div>
          <div STX>
            <div class="btc-details">
              <div class="btc-item-1">
                <i class="fas fa-rocket"></i>
                <span style="color: rgba(183, 180, 199, 1)">Mining speed </span>
                <div>
                  <h4>{{ STX.miningSpeed }} H/s</h4>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="btc-item-2">
                <i class="fas fa-hammer"></i>
                <span class="text-muted">Today Mined </span>
                <h4>{{ STX.mined }} STX</h4>
              </div>
              <div class="btc-item-3">
                <i class="fas fa-poo-storm"></i>
                <span class="text-muted">Running plans </span>
                <h4>{{ STX.plans }} active plans</h4>
              </div>
            </div>
            <div class="center">
              <i class="fab fa-btc lg"></i>
              <h2>{{ STX.currencyBalance }} STX</h2>
            </div>
            <strong class="d-block text-muted text-center"
              >Min Withdraw: {{ STX.minWithdraw }} STX</strong
            >
            <button mat-stroked-button color="primary">
              <i class="fab fa-btc sm"></i> <span> Withdraw STX </span>
            </button>
          </div>
        </app-tabs>
      </div>

      <div class="mined-chart">
        <app-tabs leftTitle="Daily mined">
          <div BTC>
            <!-- <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multi"
              [showGridLines]="showGridLines"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-line-chart> -->
          </div>
        </app-tabs>
      </div>
    </div>
    <div class="banner">
      <i class="fas fa-rocket"></i>
      <h4 class="my-3">Boost Your Hashrate With Private Mining Devices</h4>
      <p>Up to 10 TH/s</p>
      <button mat-stroked-button style="width: 50%">
        <span>Learn more</span> <i class="fas fa-external-link-alt"></i>
      </button>
    </div>
    <div class="gains-chart">
      <app-tabs topTitle="Daily Gains"></app-tabs>
    </div>
  </section>

  <!-- <div class="last-section row mt-5">
    <div class="gains col-12 col-md-7">
      <h4>Daily Gains</h4>
    </div>
    <div class="banner col-md-5">
      <i class="fas fa-rocket"></i>
      <h4 class="my-3">Boost Your Hashrate With Private Mining Devices</h4>
      <p>Up to 10 TH/s</p>
      <button mat-stroked-button color="primary">
        <span>Learn more</span>
      </button>
    </div>
  </div> -->
</div>
