.dashboard-container {
  padding-top: 104px;
}
#balance-overview {
  margin-top: 32px;
  margin-bottom: 42px;
  .box-container {
    display: grid;
    grid-template-columns: 264px 264px 264px 264px;
    column-gap: 24px;
  }
}
// .fab.lg {
//   border-radius: 50%;
//   height: 40px;
//   width: 40px;
//   font-size: 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .fa-btc {
//   background-color: #f7931a;
//   color: #fff;
//   float: left;
//   transform: rotate(15deg);
// }
// .fa-ethereum {
//   background-color: #eef3fb;
//   color: #393939;
// }
// .details {
//   margin: 0px 32px 0px 32px;
//   background-color: #fff;
//   padding: 23px;
//   border: 1px solid rgba(13, 23, 66, 0.2);
//   border-radius: 8px;
//   color: #032f4a;

//   .fab.sm {
//     border-radius: 50%;
//     height: 24px;
//     width: 24px;
//     font-size: 17px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-right: 6px;
//   }
//   .fas {
//     color: #154ed5;
//     margin-right: 10px;
//     border-radius: 50%;
//     vertical-align: middle;
//   }
//   .fa-plus {
//     background-color: #eef3fb;
//     padding: 6px;
//     margin-left: 6px;
//   }
//   .btc-details {
//     padding-top: 50px;
//     display: flex;
//     justify-content: space-evenly;

//     .btc-item-1,
//     .btc-item-2,
//     .btc-item-3 {
//       text-align: center;
//       font-weight: bold;
//     }
//     .btc-item-1 h4 {
//       display: inline-block;
//     }
//   }
//   .center {
//     margin-top: 32px;
//     display: flex;
//     justify-content: center;
//     column-gap: 10px;
//   }
// }
// .padding-right {
//   box-sizing: border-box;
//   border-right: 24px solid transparent;
//   background-clip: padding-box;
// }
// .padding-right:last-child {
//   border-right: 0px solid transparent;
// }
#details {
  display: grid;
  grid-template-columns: 744px 356px;
  grid-template-rows: minmax(345px, auto) minmax(416px, auto);
  grid-template-areas:
    "details banner"
    "details gains";
  gap: 32px 28px;
  .mining-details {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(345px, auto) minmax(416px, auto);
    gap: 32px 28px;
    padding: 24px;
    background: rgba(19, 17, 26, 0.3);
    border: 1px solid rgba(48, 44, 63, 1);
    border-radius: 12px;
    .mined-details {
      background: #1d1a27;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }
    .mined-chart {
      background: #1d1a27;
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }
  }
  .banner {
    grid-area: banner;
    background: linear-gradient(
      133.31deg,
      rgba(48, 44, 63, 0) 26.84%,
      #302c3f 70.64%,
      rgba(48, 44, 63, 0) 110.02%
    );
    border: 4px solid transparent;
    background: linear-gradient(#292141, #292141) padding-box,
      linear-gradient(to right, rgba(79, 86, 255, 1), rgba(255, 73, 128, 1))
        border-box !important;
    // box-shadow: -2px -1px 56px -6px rgba(79, 86, 255, 0.8);
    filter: drop-shadow(0px 0px 16px rgba(79, 86, 255, 1));
    border-radius: 12px;
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fa-rocket {
      font-size: 5rem;
    }
    p {
      color: rgba(255, 73, 128, 1);
      font-size: 18px;
      font-weight: bold;
    }
    button {
      background: linear-gradient(#292141, #292141) padding-box,
        linear-gradient(to right, rgba(79, 86, 255, 1), rgba(255, 73, 128, 1))
          border-box !important;
      .fas {
        color: #fff;
        margin-left: 5px;
      }
    }
  }

  .gains-chart {
    grid-area: gains;
    background: #1d1a27;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 416px;
  }
}
// .last-section {
//   .gains {
//     margin: 0px 32px 0px 43px;
//     background-color: #fff;
//     padding: 23px;
//     border: 1px solid rgba(13, 23, 66, 0.2);
//     border-radius: 8px;
//     color: #032f4a;
//   }
//   .banner {
//
//     width: 356px;
//     height: 416px;
//     color: #fff;
//     padding: 24px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .fa-rocket {
//       font-size: 5rem;
//     }
//     p {
//       color: #f2994a;
//       font-size: 20px;
//       font-weight: bold;
//     }
//     button {
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;
//       padding: 10px 24px;
//       background: #ffffff;
//       border-radius: 8px;
//       width: 198px;
//       span {
//         font-weight: bold;
//         font-size: 16px;
//         line-height: 20px;
//         color: #154ed5;
//       }
//     }
//   }
// }

// //for large screen
@media only screen and (min-width: 1206px) {
  #details-header {
    margin-bottom: -38px;
  }
}
//for md and smaller screens
@media only screen and (max-width: 768px) {
  .btc-item-1,
  .btc-item-2,
  .btc-item-3 {
    margin-bottom: 20px;
  }
  .details button {
    width: 100%;
  }
}
